kubernetes_version = "1.19"
subnets = ["subnet-xxxxxxxx", "ubnet-xxxxxxxx", "ubnet-xxxxxxxx"]
vpc_id  = "vpc-xxxxxxxx"
instance_prd    = "t2.medium"
asg_max_size_prd    = 2
instance_tst    =   "t2.micro"
asg_max_size_tst    = 1
region  =   "us-west-1"
bucket_name = "s3_bucket_name"